.body_hide {
	opacity: 0;
	transition: .6s opacity ease-in-out;}
.body_visible {
	opacity: 1;}
	
*{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-tap-highlight-color: transparent;}
	
	html{height:100%;}
 body{background: linear-gradient(#c8c8c8,#FAFAFA,#c8c8c8);}
 
#all{width:285px;
				position:absolute;
top:50%;
left:50%;
margin-right:-50%;
transform:translate(-50%,-50%)}


 #i5{margin-top:27%;
     border-radius: 314px;
     box-shadow:
     7px 7px 18px #c4c4c4,
     -7px -7px 18px #ffffff;
     height:140px; 
     width:140px;}
                 
#i6{float: right;
    margin-top:27%;
    border-radius: 314px;
    box-shadow: 7px 7px 18px #c4c4c4;
    height:140px; 
    width:140px;}
    
    
#tg{height:140px; 
    width:140px;
    border-radius: 314px;
    box-shadow:7px 7px 18px #c4c4c4;
    margin-left: 25.5%;
    margin-top:-18.9px;}
